@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  /* =======================================================
  *
  * 	Template Style 
  *
  * ======================================================= */
  body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
  }
  
  #page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .offcanvas #page {
    overflow: hidden;
    position: absolute;
  }
  .offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
  
  a {
    color: #2D6CDF;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #2D6CDF;
    outline: none;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  
  ::-webkit-selection {
    color: #fff;
    background: #2D6CDF;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #2D6CDF;
  }
  
  ::selection {
    color: #fff;
    background: #2D6CDF;
  }
  
  .fh5co-nav {
    width: 100%;
    padding: 0;
    z-index: 1001;
  }
  .fh5co-nav .top-menu {
    padding: 22px 0;
  }
  .fh5co-nav .top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0px 0;
    margin-bottom: 0;
  }
  .fh5co-nav .top .num, .fh5co-nav .top .fh5co-social, .fh5co-nav .top .site {
    display: inline-block;
    margin: 0;
    padding: 5px 12px;
  }
  @media screen and (max-width: 768px) {
    .fh5co-nav .top .num, .fh5co-nav .top .fh5co-social, .fh5co-nav .top .site {
      padding: 5px 10px;
    }
  }
  .fh5co-nav .top .site {
    float: left;
    font-weight: 300;
    margin-top: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }
  @media screen and (max-width: 480px) {
    .fh5co-nav .top .site {
      display: none;
    }
  }
  .fh5co-nav .top .num {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    letter-spacing: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }
  .fh5co-nav .top .fh5co-social {
    margin: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }
  .fh5co-nav .top .fh5co-social li {
    font-size: 14px;
    display: inline-block;
  }
  .fh5co-nav .top .fh5co-social li a {
    padding: 7px 7px;
  }
  .fh5co-nav .top .fh5co-social li a i {
    font-size: 14px;
  }
  .fh5co-nav #fh5co-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 700;
    font-family: "Source Sans Pro", Arial, sans-serif;
  }
  .fh5co-nav #fh5co-logo a {
    color: #000;
    position: relative;
    padding-left: 25px;
  }
  .fh5co-nav #fh5co-logo a span {
    color: #000;
  }
  .fh5co-nav #fh5co-logo a i {
    position: absolute;
    top: 5px;
    left: 0;
  }
  @media screen and (max-width: 768px) {
    .fh5co-nav .menu-1 {
      display: none;
    }
  }
  .fh5co-nav ul {
    padding: 0;
    margin: 5px 0 0 0;
  }
  .fh5co-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-weight: 300;
  }
  .fh5co-nav ul li a {
    font-size: 14px;
    padding: 30px 15px;
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
    color: black;
  }
  .fh5co-nav ul li.has-dropdown {
    position: relative;
  }
  .fh5co-nav ul li.has-dropdown .dropdown {
    width: 140px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #000;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .fh5co-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #000;
    border-width: 8px;
    margin-left: -8px;
  }
  .fh5co-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px;
  }
  .fh5co-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
  }
  .fh5co-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
  }
  .fh5co-nav ul li.has-dropdown .dropdown li a:hover {
    color: #fff;
  }
  .fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
    color: #000;
  }
  .fh5co-nav ul li.btn-cta a {
    padding: 30px 0px !important;
    color: #fff;
  }
  .fh5co-nav ul li.btn-cta a span {
    background: #2d6cdf;
    padding: 4px 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    -ms-border-radius: 1;
    border-radius: 1;
  }
  .fh5co-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  }
  .fh5co-nav ul li.active > a {
    font-weight: 400;
  }
  
  #fh5co-hero {
    min-height: 630px;
    height: 630px;
    background: #fff url(../images/loader.gif) no-repeat center center;
  }
  #fh5co-hero .btn {
    font-size: 24px;
  }
  #fh5co-hero .btn.btn-primary {
    padding: 14px 30px !important;
  }
  #fh5co-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
  }
  #fh5co-hero .flexslider .slides {
    position: relative;
    overflow: hidden;
  }
  #fh5co-hero .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 630px;
    height: 630px;
    position: relative;
  }
  #fh5co-hero .flexslider .slides li:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  #fh5co-hero .flexslider .flex-control-nav {
    bottom: 40px;
    z-index: 1000;
  }
  #fh5co-hero .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  #fh5co-hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
  }
  #fh5co-hero .flexslider .flex-direction-nav {
    display: none;
  }
  #fh5co-hero .flexslider .slider-text {
    display: table;
    opacity: 0;
    min-height: 630px;
    height: 630px;
    z-index: 9;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    min-height: 700px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h1, #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    margin: 0;
    padding: 0;
    color: white;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 300;
  }
  @media screen and (max-width: 768px) {
    #fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
      font-size: 30px;
    }
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: "Source Sans Pro", Arial, sans-serif;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 a {
    color: rgba(255, 255, 255, 0.5);
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
    padding: 18px 30px !important;
    color: #fff;
    border: none !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
    background: #2D6CDF !important;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
    font-size: 20px;
    color: #fff;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead .icon-heart {
    color: #d9534f;
  }
  
  .fh5co-bg-section {
    background: #e8e8e8;
  }
  
  #fh5co-course-categories,
  #fh5co-counter,
  #fh5co-course,
  #fh5co-register,
  #fh5co-pricing,
  #fh5co-testimonial,
  #fh5co-blog,
  #fh5co-about,
  #fh5co-staff,
  #fh5co-contact,
  #fh5co-footer {
    padding: 7em 0;
    clear: both;
  }
  @media screen and (max-width: 768px) {
    #fh5co-course-categories,
    #fh5co-counter,
    #fh5co-course,
    #fh5co-register,
    #fh5co-pricing,
    #fh5co-testimonial,
    #fh5co-blog,
    #fh5co-about,
    #fh5co-staff,
    #fh5co-contact,
    #fh5co-footer {
      padding: 3em 0;
    }
  }
  
  .services {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .services h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .services h3 a {
    color: #000;
  }
  .services .icon {
    width: 90px;
    height: 90px;
    background: rgba(0, 0, 0, 0.04);
    display: table;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @media screen and (max-width: 992px) {
    .services .icon {
      margin: 0 auto 30px auto;
    }
  }
  .services .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    line-height: 40px;
    color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .services:hover .icon, .services:focus .icon {
    background: #2D6CDF;
  }
  .services:hover .icon i, .services:focus .icon i {
    color: #fff;
  }
  
  .fh5co-counters {
    padding: 7em 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
  }
  .fh5co-counters .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
  }
  .fh5co-counters .counter-wrap {
    border: 1px solid red !important;
  }
  .fh5co-counters .fh5co-counter {
    font-size: 44px;
    display: block;
    color: white;
    font-family: "Roboto Slab", serif;
    width: 100%;
    font-weight: 400;
    margin-bottom: .1em;
  }
  .fh5co-counters .fh5co-counter-label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin-bottom: 2em;
    display: block;
    font-family: "Roboto Slab", serif;
  }
  .fh5co-counters .icon i {
    font-size: 45px;
    color: #fff;
  }
  
  .course {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .course .desc, .course .course-img {
    width: 50%;
    display: inline-block;
  }
  @media screen and (max-width: 768px) {
    .course .desc, .course .course-img {
      width: 100%;
    }
  }
  .course .course-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @media screen and (max-width: 768px) {
    .course .course-img {
      height: 270px;
    }
  }
  .course .desc {
    padding: 1.7em;
    background: #fafafa;
  }
  .course .desc h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .course .desc h3 a {
    color: #000;
  }
  .course .desc .date {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .course .desc .btn-course {
    border: 2px solid rgba(0, 0, 0, 0.8) !important;
    background: transparent;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 11px 15px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  .course .desc .btn-course:hover {
    background: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
  }
  .course:hover .course-img {
    -webkit-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
    box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
  }
  